*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1,
section h2 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Bitter', serif;
}

header, footer{
    padding: 16px;
    background-color: #DDA73C;
    color: #ecf0f1;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    align-items: center;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.regras h1 {
    color: #257361;
}

.lista-img {
    margin-top: 20px;
    height: 400px;
}

.brands-list img {
    height: 24px;
}
.brands-list li {
    display: inline;
    margin: 8px;
}

footer {
    margin-top: 703px;
}